<div class="fixed" id="header">
    <h1 class="left" style="display: inline-block">chore manager</h1>
    <h1 class="left right" style="float: right; display: inline-block"><a href="#" onclick="app.get('sess').loggedIn = false">log out</a></h1>
    <h1 class="left" style="float: right; display: inline-block"><a href="#">.17/d</a></h1>
    <h1 class="left" style="float: right; display: inline-block"><a href="#">profile</a></h1>
</div>