<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% include header.ejs %>
    <div class="taskContainer left right bottom">
        <% for(var i = 0; i < taskList.length; i++) { %>
          <div class="task left right">
            <h2 class="top"><%= taskList[i].desc %></h2>
            <h3 class="">reward: <%= taskList[i].reward %></h3>
            <button class="check"></button>
          </div>
        <% } %>
    </div>
    <% include footer.ejs %>
  </body>
</html>
